# requirements.txt
transformers
transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
pandas
PyPDF2
python-docx
python-multipart
nltk
tqdm
PyYAML
matplotlib
torch
streamlit
notebook
times
boto3
mypy-boto3-s3
python-box
ensure
evaluate
PIL
-e .